.column {

  float: left;

  width: 33.33%;

}



/* Clear floats after the columns */

.row:after {

  content: "";

  display: table;

  clear: both;

} 

body{

  background-color: #c6deff;

}

#headers{

  text-align: center;

  color: #8DC282;

  font-family: Verdana, serif;

}

.bodytext{
  color:black;
  font-family: "Calibri", Times, Serif;
  font-style: normal;
  break-inside: avoid;
}

